# Generation of a cosine similarity matrix to compute movie similarity based on movie features

To identify the diversity for a list of recommendations, it is crucial to first determine the intra-list similarity (IL) between the items, since diversity is defined as the inverse of the IL.


diversity = 1 - IL


The IL can be calculated by averaging the similarity of each movie to another on the list.

To shorten the process of calculating the IL, we generate a cosine similarity matrix for each movie to another in the MovieLens dataset. The cosine similarity matrix will be further used when generating actual recommendations for users. It contains cosine similarities computed in the content-based recommender with similarities based the text of the description, keywords and genre. The used movie features derive from *The Movies Database* (tmdb).

## Import of the libaries

In [99]:
import pandas as pd
import numpy as np


import scipy.sparse as sp
from typing import List

from ast import literal_eval
from nltk.stem.snowball import SnowballStemmer, PorterStemmer

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Construction of the feature dataframe for the similarity measurement

## Load data from tmdb dataset

In [100]:
df_meta = pd.read_csv("../content/movies_metadata.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [101]:
df_meta.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [102]:
df_meta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [103]:
df_meta.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [104]:
# load credit and keyword table
df_credits = pd.read_csv("../content/credits.csv", engine="python")
df_keywords = pd.read_csv("../content/keywords.csv")

In [105]:
df_credits.head()

                                                cast  ...     id
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  ...    862
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...  ...   8844
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...  ...  15602
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...  ...  31357
4  [{'cast_id': 1, 'character': 'George Banks', '...  ...  11862

[5 rows x 3 columns]

In [106]:
df_keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [107]:
df_keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

## Cleaning data (tmdb credit and keyword df)

In [108]:
# Merging keywords and credits df
df_features = df_keywords.merge(df_credits, on="id")
df_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46496 entries, 0 to 46495
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46496 non-null  int64
 1   keywords  46496 non-null  object
 2   cast      46496 non-null  object
 3   crew      46496 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.8+ MB

In [109]:
#apply literal_eval from Abstract Syntax Trees (ast) to convert str into a list of dictionaries
df_features['cast'] = df_features['cast'].apply(literal_eval)
df_features['crew'] = df_features['crew'].apply(literal_eval)
df_features['keywords'] = df_features['keywords'].apply(literal_eval)

In [110]:
#create function to get list of lists
def get_lists(key, column, df):
    x = []

    for i in range(df.shape[0]):
        values = [d[f"{key}"] for d in df[f"{column}"][i]]
        x.append(values)
    return x

In [111]:
#add new columns to features data frame
df_features["crew_jobs"] = pd.Series(get_lists("job", "crew", df_features))
df_features["actors"] = pd.Series(get_lists("name", "cast", df_features))
df_features["keywords"] = pd.Series(get_lists("name", "keywords", df_features))

In [112]:
# select only cleaned columns for the new dataset
df_features = df_features[["id", "actors", "keywords", "crew_jobs"]]
df_features.head()

      id  ...                                          crew_jobs
0    862  ...  [Director, Screenplay, Screenplay, Screenplay,...
1   8844  ...  [Executive Producer, Screenplay, Original Musi...
2  15602  ...    [Director, Characters, Writer, Sound Recordist]
3  31357  ...  [Director, Screenplay, Producer, Producer, Pro...
4  11862  ...  [Original Music Composer, Director of Photogra...

[5 rows x 4 columns]

## Cleaning data from tmdb metadata df

In [113]:
df_meta.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

## Selecting features from the dataframe, that are suitable for computing content-based similarity

For the calculation of the cosine similarity are following features considered:
+ title
+ overview (description of the movie), 
+ genre
+ actors
+ release year
+ director
+ writer
+ keywords

In [114]:
# CHeckout all features, that are available in the meta dataframe
df_meta.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [115]:
# make a new datafame with only desired features
meta = df_meta[['genres','id', 'overview', 'release_date', 'tagline', 'title']]
meta.head()

                                              genres  ...                        title
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  ...                    Toy Story
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...  ...                      Jumanji
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...  ...             Grumpier Old Men
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...  ...            Waiting to Exhale
4                     [{'id': 35, 'name': 'Comedy'}]  ...  Father of the Bride Part II

[5 rows x 6 columns]

In [116]:
#apply literal_eval from Abstract Syntax Trees (ast) to convert str into a list of dictionaries
meta['genres'] = meta['genres'].apply(literal_eval)

# add new columns to features data frame
meta['genres'] = pd.Series(get_lists("name", "genres", meta))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

### Extract the release year

In [117]:
# convert release date to datetime object
meta["release_date"] = pd.to_datetime(meta["release_date"], errors="coerce")

# extract the year
meta["release_date"] = (pd.DatetimeIndex(meta["release_date"]).year)

# cast the year from float into integer
meta["release_date"] = meta["release_date"].astype("Int64")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [118]:
# check the dataframe
meta.head()

                         genres  ...                        title
0   [Animation, Comedy, Family]  ...                    Toy Story
1  [Adventure, Fantasy, Family]  ...                      Jumanji
2             [Romance, Comedy]  ...             Grumpier Old Men
3      [Comedy, Drama, Romance]  ...            Waiting to Exhale
4                      [Comedy]  ...  Father of the Bride Part II

[5 rows x 6 columns]

## Merge the metadata with the df_feature

In [119]:
# drop rows with incorrect tmdb id´s 
meta = meta.drop([19730, 29503, 35587])

# cast id in meta to int
meta["id"] = meta["id"].astype(int)

In [120]:
# Merging meta and df_feature table on tmdb id
df_features = df_features.merge(meta, on="id")
df_features.head()

      id  ...                        title
0    862  ...                    Toy Story
1   8844  ...                      Jumanji
2  15602  ...             Grumpier Old Men
3  31357  ...            Waiting to Exhale
4  11862  ...  Father of the Bride Part II

[5 rows x 9 columns]

## Set movielens ID as key for the feature dataframe
Since the recommendation lists from the collaborative filtering derives from the movielens dataset, the df_features has to have the movielens Id as index for the movies. Further, the tmdb dataset contains much more movies than the movielens dataset. By an inner merge only the intersection from both frames is preserved and the desired movies from the movieslens dataset remain in the table.

In [121]:
# Load the links table from MovieLens
df_links = pd.read_csv("../content/links.csv")

In [122]:
# Checkout the imported dataframe
df_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [123]:
df_links.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

In [124]:
# To avoid further problems with the datatyp of the movieId, it is casted into a string
df_links.movieId.astype(str)

0            1
1            2
2            3
3            4
4            5
         ...
9737    193581
9738    193583
9739    193585
9740    193587
9741    193609
Name: movieId, Length: 9742, dtype: object

In [125]:
#check for duplicates
df_links.movieId.nunique()

9742

In [126]:
#check for duplicates
df_links.tmdbId.nunique()

9733

There are 8 duplicates in movieId and 9 Duplicates in the tmdbId. The imdbId is not of interest here and will not be used further.

In [127]:
# remove the duplicates
df_links.drop_duplicates(subset="movieId", inplace=True)
df_links.drop_duplicates(subset="tmdbId", inplace=True)
df_links.shape

(9734, 3)

In [128]:
# check for null values
df_links["tmdbId"].isnull().sum()

1

In [129]:
df_links.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9734 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9734 non-null   int64
 1   imdbId   9734 non-null   int64
 2   tmdbId   9733 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 304.2 KB

In [130]:
# drop the null values
df_links.dropna(inplace=True)

In [131]:
# rename the id in the df_features to tmdbId for merging
df_features.rename(columns={"id":"tmdbId"}, inplace=True)

In [132]:
# cast the tmdbId into integer for merging
df_links["tmdbId"] = df_links["tmdbId"].astype("Int64")
df_links.head()

   movieId  imdbId  tmdbId
0        1  114709     862
1        2  113497    8844
2        3  113228   15602
3        4  114885   31357
4        5  113041   11862

### Merging the feature dataframe with MovieLens links table

In [133]:
# merge the feature dataframe with the link table from movielens 
df_features = df_features.merge(df_links,on="tmdbId")
df_features.head()

   tmdbId                                             actors  ... movieId  imdbId
0     862  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...  ...       1  114709
1    8844  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...  ...       2  113497
2   15602  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...  ...       3  113228
3   31357  [Whitney Houston, Angela Bassett, Loretta Devi...  ...       4  114885
4   11862  [Steve Martin, Diane Keaton, Martin Short, Kim...  ...       5  113041

[5 rows x 11 columns]

In [134]:
# check for duplicates in movieId
df_features.movieId.duplicated().sum()

114

In [135]:
# remove duplicates
df_features.drop_duplicates(subset="movieId", inplace=True)

In [136]:
# set the movieId as index
df_features = df_features.set_index("movieId")
df_features.head()

         tmdbId  ...  imdbId
movieId          ...
1           862  ...  114709
2          8844  ...  113497
3         15602  ...  113228
4         31357  ...  114885
5         11862  ...  113041

[5 rows x 10 columns]

In [137]:
df_features.tail()

         tmdbId  ...   imdbId
movieId          ...
175705     7014  ...    69369
175707   411516  ...  5135434
175743   433410  ...  6354108
175781    28469  ...   273646
176051   460135  ...  7158814

[5 rows x 10 columns]

In [138]:
df_features.shape

(9543, 10)

## Fill missing values with empty space, so no error occur in the NLP

In [139]:
# check out missing values
df_features.isnull().sum()

tmdbId             0
actors             0
keywords           0
crew_jobs          0
genres             0
overview          18
release_date       2
tagline         2303
title              0
imdbId             0
dtype: int64

In [140]:
# replace missing values in text with space
df_features["tagline"] = df_features["tagline"].fillna(" ")
df_features["overview"] = df_features["overview"].fillna(" ")

In [141]:
# look for index of the missing values in release_date
rows_with_nan = [index for index, row in df_features.iterrows() if row.isnull().any()]
rows_with_nan

[86237, 171495]

In [142]:
# check out the rows with missing values
df_features.loc[86237]

tmdbId                                                     367647
actors                                                         []
keywords                                             [miniseries]
crew_jobs                                                      []
genres                                                         []
overview        Documentary  Follow James Burke through the hi...
release_date                                                 <NA>
tagline
title                                                 Connections
imdbId                                                      78588
Name: 86237, dtype: object

In [143]:
# check out the rows with missing values
df_features.loc[171495]

tmdbId                                                     409926
actors                                                         []
keywords                                                       []
crew_jobs                                                      []
genres                                                         []
overview        Astronomer Dr. Carl Sagan is host and narrator...
release_date                                                 <NA>
tagline
title                                                      Cosmos
imdbId                                                      81846
Name: 171495, dtype: object

## Stemming of the words in the description

In [144]:
# split the overview text into single words
df_features["overview"] = df_features["overview"].str.split()

In [145]:
df_features.head()

         tmdbId  ...  imdbId
movieId          ...
1           862  ...  114709
2          8844  ...  113497
3         15602  ...  113228
4         31357  ...  114885
5         11862  ...  113041

[5 rows x 10 columns]

In [146]:
# Initializing stemmer and countvectorizer 
ps_stemmer = SnowballStemmer('english')#PorterStemmer()
#apply stemmer to pd.Series
df_features['stemmed_overview'] = df_features['overview'].apply(lambda x: [ps_stemmer.stem(y) for y in x])

In [147]:
# join the list of actors, keywords and genre
df_features["actors"] = df_features["actors"].str.join(" ")
df_features["keywords"] = df_features["keywords"].str.join(" ")
df_features["genres"] = df_features["genres"].str.join(" ")
df_features["stemmed_overview"] = df_features["stemmed_overview"].str.join(" ")
df_features.head()

         tmdbId  ...                                   stemmed_overview
movieId          ...
1           862  ...  led by woody, andi toy live happili in his roo...
2          8844  ...  when sibl judi and peter discov an enchant boa...
3         15602  ...  a famili wed reignit the ancient feud between ...
4         31357  ...  cheat on, mistreat and step on, the women are ...
5         11862  ...  just when georg bank has recov from his daught...

[5 rows x 11 columns]

In [148]:
df_features[df_features.title.duplicated()]

         tmdbId  ...                                   stemmed_overview
movieId          ...
915        6620  ...  linus and david larrabe are the two son of a v...
1344      11349  ...  sam bowden wit a rape commit by max cadi and t...
1726       9922  ...  in 2013 there are no highways, no i-ways, no d...
1941      23383  ...  winner of four academi awards, includ best pic...
2059       9820  ...  halli parker and anni jame are ident twin sepa...
...         ...  ...                                                ...
169982   305470  ...  saban power ranger follow five ordinari teen w...
170827   282035  ...  though safe entomb in a crypt deep beneath the...
172253    38966  ...  the night befor is a 1988 film star keanu reev...
173873    26787  ...  gulliv wash ashor on lilliput and attempt to p...
174551   435041  ...  student shurik has just two hour befor the beg...

[322 rows x 11 columns]

In [149]:
df_features.index.nunique()

9543

## Export the feature dataframe
unhash the code below, if you want to export the feature table and change the directory path accordingly

In [150]:
# export new data to csv. file
#df_features.to_csv('../data/df_features.csv')

## Make a combined feature of texts

In [151]:
#def combined_features(row):
df_features["combined_features"] = df_features.stemmed_overview + df_features.genres + df_features.keywords

In [152]:
# check out an example of a stemmed overview (Toy Story)
df_features.combined_features[1]

'led by woody, andi toy live happili in his room until andi birthday bring buzz lightyear onto the scene. afraid of lose his place in andi heart, woodi plot against buzz. but when circumst separ buzz and woodi from their owner, the duo eventu learn to put asid their differences.Animation Comedy Familyjealousy toy boy friendship friends rivalry boy next door new toy toy comes to life'

## Generate a matrix of cosine similarity of the features

In [153]:
#use CountVectorizer for NLP
count = CountVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')

count_matrix = count.fit_transform(df_features['combined_features'].values.astype('U'))

#calculate similarity
cosine_sim = cosine_similarity(count_matrix, count_matrix)

### Make sample recommendations
In order to test, if the cosine similarity computation result in meaningful recommendations, a few sample recommendations are made.

In [154]:
# Function to get TOP10 recommendations according to a seed item
def get_cb_recommendations(title, df_features, cosine_sim):
    ''' compares cosine similarity between movies and ranks the movies according to the score, 
    returns a list of movie titles for recommendation

    '''
    df_features = df_features.reset_index()
    titles = df_features['title']
    indices = pd.Series(df_features.index, index=df_features['title'])
    idx = indices[title]

    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]

    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [155]:
# get a sample recommendation to check the result, seed item "Toy Story"
get_cb_recommendations("Toy Story", df_features, cosine_sim)

2351                   Toy Story 2
7332                   Toy Story 3
1398                Small Soldiers
1463                  Child's Play
53      The Indian in the Cupboard
5955        The 40 Year Old Virgin
1671                          Toys
1465                Child's Play 3
1464                Child's Play 2
7892                           Ted
Name: title, dtype: object

In [156]:
get_cb_recommendations("Batman Begins", df_features, cosine_sim)

6689                            The Dark Knight
509                                      Batman
1171                             Batman & Robin
7741                      The Dark Knight Rises
1058                             Batman Returns
7357                 Batman: Under the Red Hood
8004    Batman: The Dark Knight Returns, Part 1
4945                           Enter the Dragon
8792                           Batman vs. Robin
8926         Batman v Superman: Dawn of Justice
Name: title, dtype: object

In [157]:
get_cb_recommendations("Interstellar", df_features, cosine_sim)

4095                         Solaris
1902              Planet of the Apes
705            2001: A Space Odyssey
9391                      Passengers
2503                 Mission to Mars
9387    Rogue One: A Star Wars Story
3840                  Silent Running
8216                      About Time
3407              Planet of the Apes
2708                       Moonraker
Name: title, dtype: object

In [158]:
# To check the correctness of the indexing, this function retrieves the movie informations from the feature table
def get_info(title, df_features):
    '''retrieve informations about the movie from the feature table'''
    indices = pd.Series(df_features.index, index=df_features['title'])
    idx = indices[title]
    film_info = df_features.loc[idx]
    return film_info

In [159]:
get_info("Toy Story", df_features)

tmdbId                                                             862
actors               Tom Hanks Tim Allen Don Rickles Jim Varney Wal...
keywords             jealousy toy boy friendship friends rivalry bo...
crew_jobs            [Director, Screenplay, Screenplay, Screenplay,...
genres                                         Animation Comedy Family
overview             [Led, by, Woody,, Andy's, toys, live, happily,...
release_date                                                      1995
tagline
title                                                        Toy Story
imdbId                                                          114709
stemmed_overview     led by woody, andi toy live happili in his roo...
combined_features    led by woody, andi toy live happili in his roo...
Name: 1, dtype: object

### Conclusion
The movies on each recommendation list are close to the seed items. They overlap by genre, content etc. and it was even possible to identify the sequels of the seed movie.

## Save the cosine similarity array as an dataframe

In [160]:
# save the matrix in a dataframe
df_cosine_sim = pd.DataFrame(cosine_sim)
df_cosine_sim.head(10)

       0         1         2     ...      9540      9541      9542
0  1.000000  0.033900  0.010186  ...  0.025425  0.052926  0.000000
1  0.033900  1.000000  0.020544  ...  0.000000  0.000000  0.000000
2  0.010186  0.020544  1.000000  ...  0.000000  0.000000  0.000000
3  0.010879  0.000000  0.013186  ...  0.032915  0.068519  0.013027
4  0.000000  0.010148  0.000000  ...  0.000000  0.000000  0.024096
5  0.000000  0.030094  0.000000  ...  0.000000  0.000000  0.008932
6  0.012142  0.000000  0.000000  ...  0.036736  0.076472  0.000000
7  0.046066  0.009292  0.011167  ...  0.000000  0.000000  0.022063
8  0.000000  0.100504  0.000000  ...  0.000000  0.000000  0.036716
9  0.000000  0.009387  0.011282  ...  0.000000  0.000000  0.022290

[10 rows x 9543 columns]

In [161]:
df_cosine_sim[560:570]

         0         1         2     ...      9540      9541      9542
560  0.000000  0.024932  0.000000  ...  0.000000  0.000000  0.029601
561  0.011934  0.012036  0.028931  ...  0.000000  0.000000  0.000000
562  0.000000  0.000000  0.000000  ...  0.000000  0.000000  0.000000
563  0.000000  0.011648  0.000000  ...  0.000000  0.000000  0.000000
564  0.035284  0.000000  0.000000  ...  0.000000  0.000000  0.000000
565  0.009213  0.009292  0.022334  ...  0.027875  0.058026  0.022063
566  0.000000  0.000000  0.008399  ...  0.000000  0.000000  0.016595
567  0.009032  0.000000  0.010948  ...  0.027328  0.056888  0.000000
568  0.000000  0.019383  0.000000  ...  0.000000  0.000000  0.011506
569  0.000000  0.000000  0.021483  ...  0.000000  0.000000  0.042445

[10 rows x 9543 columns]

In [162]:
# replace the index and column names, which were serielly numbered, with the movie Ids of movielens
df_cosine_sim = df_cosine_sim.set_axis(df_features.index, axis=1)
df_cosine_sim = df_cosine_sim.set_axis(df_features.index, axis=0)

In [163]:
df_cosine_sim.head(10)

movieId    1         2         3       ...    175743    175781    176051
movieId                                ...
1        1.000000  0.033900  0.010186  ...  0.025425  0.052926  0.000000
2        0.033900  1.000000  0.020544  ...  0.000000  0.000000  0.000000
3        0.010186  0.020544  1.000000  ...  0.000000  0.000000  0.000000
4        0.010879  0.000000  0.013186  ...  0.032915  0.068519  0.013027
5        0.000000  0.010148  0.000000  ...  0.000000  0.000000  0.024096
6        0.000000  0.030094  0.000000  ...  0.000000  0.000000  0.008932
7        0.012142  0.000000  0.000000  ...  0.036736  0.076472  0.000000
8        0.046066  0.009292  0.011167  ...  0.000000  0.000000  0.022063
9        0.000000  0.100504  0.000000  ...  0.000000  0.000000  0.036716
10       0.000000  0.009387  0.011282  ...  0.000000  0.000000  0.022290

[10 rows x 9543 columns]

In [164]:
# sample query a cosine similarity between two movies
df_cosine_sim.loc[1,175781]

0.052925612402496325

## In order to generate a .csv of the cosine similarity dataframe, unhash the code below
-> also change the directory path according to your needs

In [165]:
# export new data to csv. file
#df_cosine_sim.to_csv('../data/cos_sim_matrix.csv',index=True)

### Save data as .NPZ (compressed)
The generated .csv file is 1,2 GB, so far too big. The better way is to store it as a numpy array, because it is only needed in a .py script. Unhash the code below, if needed

In [166]:
# save numpy array as npz file
#from numpy import asarray
#from numpy import savez_compressed

# save to npy file
#savez_compressed('../data/cosine_sim.npz', cosine_sim)